html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100vh;
  grid-template-columns: 1fr;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

body header, body footer {
  width: 100%;
  background-color: #18215C;
}

body header h1 {
  color: #dac033;
  padding: 20px;
  font-family: 'Codystar', cursive;
}

body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

body main > p {
  width: 80%;
  padding: 10px;
}

body main form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  max-width: 420px;
}

body main form .artist-input {
  margin: 10px;
  padding: 8px;
  width: 100%;
}

body main form .form-group {
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main form .form-group label {
  margin: 0 5px;
}

body main form .form-group #song-number {
  padding: 3px;
  margin: 0 5px;
}

body main button {
  width: fit-content;
  padding: 10px;
  margin: 5px;
}

body main .track-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

body main .track-list div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

body main .track-list div h2 {
  padding: 5px;
}

body main .track-list div p {
  padding: 5px;
  font-size: 14px;
}

body main .track-list div img {
  margin-top: auto;
}

body main #to-top, body main #others {
  display: none;
}

body main a#to-top.show, body main a#others.show {
  display: inline-block;
}

body footer {
  color: #dac033;
  font-size: 8px;
  padding: 2px;
}

@media only screen and (min-width: 768px) {
  body main .track-list {
    grid-template-columns: 1fr 1fr;
  }
  body header {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1024px) {
  body main .track-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body header {
    font-size: 40px;
  }
  body footer {
    font-size: 12px;
  }

  body main #to-top {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  body main .track-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1600px) {
  body main .track-list {
    grid-template-columns: repeat(5, 1fr);
  }
}