html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  height: 100vh;
  grid-template-columns: 1fr;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

header, footer {
  width: 100%;
  background-color: #18215C;
}

header h1 {
  color: #dac033;
  padding: 20px;
  font-family: 'Codystar', cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

main .description {
  width: 80%;
  padding: 10px;
}

main form {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  max-width: 420px;
}

main form .artist-input {
  margin: 10px;
  padding: 8px;
  width: 100%;
}

main form .form-group {
  margin: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main form .form-group label {
  margin: 0 5px;
}

main form .form-group #song-number {
  padding: 3px;
  margin: 0 5px;
}

main button {
  width: fit-content;
  padding: 10px;
  margin: 5px;
}

main #spotify-logo {
  box-sizing: content-box;
  height: 70px;
  padding: 35px;
  display: hidden;
}

main #more-results {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0;
}

main #more-results li {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}

main #more-results li .blank-image {
  height: 160px;
  width: 160px;
  text-align: center;
  line-height: 160px;
  background-color: rgb(201, 198, 198);
}

main .track-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

main .track-list div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

main .track-list div h2 {
  padding: 5px;
}

main .track-list div p {
  padding: 5px;
  font-size: 14px;
}

main .track-list div img {
  margin-top: auto;
}

main #to-top, main #others, main #spotify-logo, main #hide {
  display: none;
}

main a#to-top.show, main a#others.show, main img#spotify-logo.show, main a#hide.show {
  display: inline-block;
}

footer {
  color: #dac033;
  font-size: 8px;
  padding: 2px;
}

@media only screen and  (min-width: 385px) {
  header h1 {
    font-size: 40px;
  }
}

@media only screen and (min-width: 768px) {
  main .track-list {
    grid-template-columns: 1fr 1fr;
  }
  header h1 {
    font-size: 72px;
  }
}

@media only screen and (min-width: 1024px) {
  main .track-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  footer {
    font-size: 12px;
  }

  main a#to-top.show {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  main .track-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1600px) {
  main .track-list {
    grid-template-columns: repeat(5, 1fr);
  }
}